[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gitpython = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
matplotlib = "*"
python-dateutil = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
